
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

    font-family: Inter;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    padding: 20px;
}

#headerText {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#container {
    display: flex;
    flex: 1;
    background-color: aliceblue;

}

#flexGrid {
    display: flex;
    flex-direction: column;

    margin: 30px;
    border: 3px solid black;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    background-color: #2b2b2b;
}

#footerText {
    color: white;
    font-size: 30px;
    font-weight: bold;
}