
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

    font-family: Inter;
    background-color: aliceblue;
}
header{
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: #2b2b2b;
    padding: 20px;
}

#headerText {
    color: goldenrod;
    font-size: 50px;
    font-weight: bold;
}
#container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    justify-content: center;

    background-color: aliceblue;

}

#leftSide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#flexGrid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    aspect-ratio: 1/1;
    
    height: 80vh;
    border: 5px solid black;
    margin: 30px 15px;
}

.gridLine {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    
    
    
}

.gridBox {
    display: flex;
    flex: 1;
    background-color: white;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
    height: 45vh;
    width: 25vw;
    border: 5px solid black;
    margin: 30px 15px;
    padding: 30px;

}

#options p{
    font-size: 30px;
    font-weight: bold;
    
}

.option{
    display: flex;
    flex: 1;
    align-items: stretch;
}

#changeColor {
    display: flex;
    flex-direction: row;
}

#colors {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.color {
    display: flex;
    flex: 1;
    
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
    height: 3vh;
    aspect-ratio: 1/1;
    border: 5px solid black;

}

#red {
  background-color: red;  
}
#orange {
    background-color: orange;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}
#pink {
    background-color: pink;
}
#brown {
    background-color: brown;
}
#gray {
    background-color: gray;
}
#black {
    background-color: black;
}

#sizeSlider {
    width: 16vw;
}

#sizeSliderTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

#resetButton {
    font-size: 30px;
    font-weight: bold;
    background-color: greenyellow;
    border-radius: 30px;
    border: 5px solid green;
    margin: 30px;
    height: 8vh;
    width: 10vw;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    background-color: #2b2b2b;
}

#footerText {
    color: white;
    font-size: 30px;
    font-weight: bold;
}