
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

    font-family: Inter;
    background-color: aliceblue;
}
header{
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: #2b2b2b;
    padding: 20px;
}

#headerText {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#container {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: center;

    background-color: aliceblue;

}

#flexGrid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    
    width: 100%;

    margin: 100px;
    border: 5px solid black;
}

.gridLine {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    
    
    
}

.gridBox {
    display: flex;
    flex: 1;
    background-color: white;
    

}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
    border: 5px solid black;
    margin: 50px 500px;
    padding: 30px;

}

#options p{
    font-size: 30px;
    font-weight: bold;
    
}

.option{
    display: flex;
    flex: 1;
    align-items: stretch;
}

#changeColor {
    display: flex;
    flex-direction: row;
}

#colors {
    display: flex;
    flex: 1;
    padding: 20px 100px;
    align-items: stretch;
}

.color {
    display: flex;
    flex: 1;
    
    padding: 20px;
    margin: 40px;
    border-radius: 50px;

    border: 5px solid black;

}

#red {
  background-color: red;  
}
#orange {
    background-color: orange;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}
#pink {
    background-color: pink;
}
#brown {
    background-color: brown;
}
#gray {
    background-color: gray;
}
#black {
    background-color: black;
}

#resetButton {
    font-size: 30px;
    padding: 10px 30px;
    background-color: greenyellow;
    border-radius: 30px;
    border: 5px solid green;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    background-color: #2b2b2b;
}

#footerText {
    color: white;
    font-size: 30px;
    font-weight: bold;
}